<ul>
    <li *ngFor="let pizza of pizzas">
        <!-- TODO: Wydziel zawartosc html do komponentu pizza-item -->
        <!-- TODO 4: Uzyj pipe skracajacy nazwe pizzy jak jest za dluga (10 znaków + "…") -->
        {{ pizza.name.substr(0, 10) + (pizza.name.length > 10 ? "..." : "") }}
        <br />
        <!-- {{ (pizza.name | slice:0:10) + (pizza.name.length > 10 ? "..." : "") }}
        <br />
        {{ pizza.name | dots:0:10 }}
        <br /> -->
        <!-- TODO 5: Dodaj pole opis -->
        <img [src]="pizza.photoUrl" height="50px">
        <!-- TODO 6: Obsłuż metode DELETE z Pizza API -->
        <!-- TODO 12: Obsłuż metode POST z Pizza API -->
        <a>ustaw obrazek</a>
        <a (click)="removePizza(pizza.id)">usun</a>
    </li>
    <!-- TODO 11: Dodajemy komponent stronnicowania -->
</ul>

<!-- TODO 8: Przenies obsługe przycisku do komponentu pizza-editor -->
<!-- TODO 9: Zaimplementuj formularz dodawania pizzy (nazwa, adres obrazka, opis) w oddzielnym komponencie PizzaEditor z uwzglednieniem walidacji -->
<button (click)="addPizza()">Dodaj pizze</button>